# Homework 4

## FINM 37500: Fixed Income Derivatives

### Mark Hendricks

#### Winter 2025

***

### Data

The file `data/ratetree_data_2025-01-31.xlsx` has a binomial tree of interest rates fit to...
* discount curves from `cap_curves_2025-01-31.xlsx`
* implied vols from `cap_curves_2025-01-31.xlsx`

Note the following...
* Suppose the present date is `2025-01-31`.
* The rates are continuously compounded.
* The rates are for the following quarter. So teh rate at $t=0$ is the continuously compounded rate for the interval $t=0$ to $t=.25$.

Take this binomial tree as given; there is no need to fit it yourself.

In [8]:
import pandas as pd

DATE = '2025-01-31'
FILEIN = f'../data/ratetree_data_{DATE}.xlsx'
sheet_tree = 'rate tree'

ratetree = pd.read_excel(FILEIN, sheet_name=sheet_tree).set_index('state')
ratetree.columns.name = 'time'

ratetree.style.format('{:.1%}',na_rep='').format_index('{:.2f}',axis=1)

***

# 1. Binomial Tree Pricing - Bond

### The Bond

Consider a vanilla (non-callable) bond with the following parameters...
* `T=5`
* coupon rate is `4.41%`
* coupons are semiannual

Note that this is essentially the hypothetical bond priced in HW 1.

### 1.1

Create and display a tree of cashflows from the bond, corresponding to each node of the tree (state and time) seen in the interest rate tree.

Note that the cashflows do not depend on the interest rates. Thus, report the cashflows at the time (in the column) they are actually paid out. The final payoff (face plus coupon) occurs at $T$, which is beyond the interest rate tree. You are welcome to add a column for $T$ or to consider this payoff separately and leave it out of the tree.

In [14]:
import pandas as pd
import numpy as np

# Define bond parameters
face_value = 100
coupon_rate = 0.0441
coupon = face_value * coupon_rate / 2  # Semiannual coupon = 2.205
maturity = 5.0
dt = 0.25  # Quarterly steps

# Time steps from 0 to 5.0
time_steps = np.arange(0, maturity + dt, dt)
n_steps = len(time_steps)
states = 20  # Number of states to match rate tree

# Initialize cashflow tree
cashflow_tree = pd.DataFrame(0.0, index=range(states), columns=time_steps)

# Set cashflows at semiannual intervals
semiannual_times = np.arange(0.5, maturity + dt, 0.5)
for t in semiannual_times:
    if t < maturity:
        cashflow_tree[t] = coupon  # Coupon payment
    elif t == maturity:
        cashflow_tree[t] = face_value + coupon  # Final payment (102.205)

# Display cashflow tree
print("Cashflow Tree:")
cashflow_tree

Cashflow Tree:

,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,...,2.75,3.00,3.25,3.50,3.75,4.00,4.25,4.50,4.75,5.00
0,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
1,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
2,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
3,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
4,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
5,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
6,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
7,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
8,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
9,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
10,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
11,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
12,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
13,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
14,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
15,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
16,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
17,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
18,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205
19,0.0,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,...,0.0,2.205,0.0,2.205,0.0,2.205,0.0,2.205,0.0,102.205

### 1.2.

Create and display a tree of values of the bond. Do this for the quotes as
* clean quotes
* dirty quotes

Given the semiannual coupons and quarterly tree steps, the clean and dirty will coincide at $t=0, .5, 1,...$.

Do the valuation by...
* setting the value at $T$ as the face plus final coupon.
* discounting this back through time, using the (continuously-compounded) interest rate.
* recall that the tree is constructed such that the probability of moving "up" or "down" is 50%.

In [78]:
import pandas as pd
import numpy as np

# Load data files
cap_curves_file = "../data/cap_curves_2025-01-31.xlsx"
ratetree_data_file = "../data/ratetree_data_2025-01-31.xlsx"

# Read Excel files containing rate curves and binomial rate tree
##datasets
cap_curves_data = pd.ExcelFile(cap_curves_file)
ratetree_data = pd.ExcelFile(ratetree_data_file)

# Load datasets from respective sheets
cap_curves_df = cap_curves_data.parse("rate curves 2025-01-31")
ratetree_df = ratetree_data.parse("rate tree")

# Remove 'state' column if present, since it is not needed for calculations
if 'state' in ratetree_df.columns:
    ratetree_df = ratetree_df.drop(columns=['state'])

# Bond Parameters
T = 5  # Total years to maturity
coupon_rate = 0.0441  # 4.41% annual coupon rate
face_value = 100  # Assume bond face value is 100
coupon_payment = (coupon_rate / 2) * face_value  # Semiannual coupon payment

# Standardize column names for consistency
bond_value_tree = ratetree_df.copy()
bond_value_tree.columns = [f"{col:.2f}" if isinstance(col, (int, float)) else col for col in bond_value_tree.columns]
ratetree_df.columns = [f"{col:.2f}" if isinstance(col, (int, float)) else col for col in ratetree_df.columns]

# Initialize Cashflow Tree: Assign coupon payments at appropriate nodes
for col in bond_value_tree.columns:
    time = float(col)  # Convert column name to time value
    if time % 0.5 == 0 and time > 0:  # Apply semiannual coupon payments
        bond_value_tree[col] = coupon_payment
    else:
        bond_value_tree[col] = 0  # No coupon payments at other time steps

# Ensure final maturity column includes face value in cashflows
maturity_col = "5.00"
if maturity_col not in bond_value_tree.columns:
    bond_value_tree[maturity_col] = face_value + coupon_payment
else:
    bond_value_tree[maturity_col] += face_value + coupon_payment

# Backward induction for bond pricing (discount future values to present)
for col in reversed(bond_value_tree.columns[:-1]):  # Iterate backward, excluding last column
    time = float(col)
    next_col = f"{round(time + 0.25, 2):.2f}"  # Compute next quarter step
    
    if next_col in bond_value_tree.columns:
        discount_rates = ratetree_df[col]  # Fetch discount rates for current period
        
        # Compute expected future values using equal probabilities for up/down moves
        future_values = 0.5 * (bond_value_tree[next_col] + bond_value_tree[next_col].shift(-1, fill_value=0))
        
        # Apply discounting to compute present value at this node
        bond_value_tree[col] += future_values * np.exp(-discount_rates * 0.25)

# Extract dirty price from the bond value tree (value at root node)
dirty_price = bond_value_tree.iloc[0, 0]

# Compute accrued interest for clean price calculation
days_since_last_coupon = 1  # Assuming 1 day since last coupon payment
days_in_coupon_period = 182  # Approximate days in a six-month coupon period
accrued_interest = (coupon_payment * days_since_last_coupon) / days_in_coupon_period

# Compute Clean Price by subtracting accrued interest
clean_price = dirty_price - accrued_interest

# Compute YTM-based Price using the T-year swap rate
swap_rate_T = cap_curves_df.loc[cap_curves_df["tenor"] == T, "swap rates"].values[0]
semiannual_swap_rate = (1 + swap_rate_T / 4) ** 2 - 1  # Convert quarterly compounding to semiannual
num_coupons = T * 2  # Number of coupon periods

# Compute discount factors for present value calculations
discount_factors = [(1 + semiannual_swap_rate / 2) ** -t for t in range(1, num_coupons + 1)]

# Compute price using standard bond pricing formula
yt_price = sum(coupon_payment * df for df in discount_factors) + face_value * discount_factors[-1]

# Store bond pricing results in DataFrame for output
bond_pricing_results = pd.DataFrame({
    "Method": ["Binomial Tree Dirty Price", "Binomial Tree Clean Price", "YTM Formula Price"],
    "Price": [dirty_price, clean_price, yt_price]
})

# Display results
print("Bond Pricing Results:")
print(bond_pricing_results)

Bond Pricing Results:
                      Method       Price
0  Binomial Tree Dirty Price  101.869310
1  Binomial Tree Clean Price  101.857195
2          YTM Formula Price  111.428658

In [79]:

# Display results
print("Bond Pricing Results:")
display(bond_pricing_results)

# Display bond value tree for verification
print("\nBond Value Tree:")
display(bond_value_tree)

Bond Pricing Results:

                      Method       Price
0  Binomial Tree Dirty Price  101.869310
1  Binomial Tree Clean Price  101.857195
2          YTM Formula Price  111.428658

Bond Value Tree:

,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,...,2.75,3.00,3.25,3.50,3.75,4.00,4.25,4.50,4.75,5.00
0,101.86931,101.020606,100.038066,96.674771,95.412415,91.804347,90.561114,87.209059,86.276634,83.234494,...,80.182270,80.271327,78.422727,79.356835,78.871143,81.619125,83.017188,87.901687,92.411267,102.205
1,NaN,104.874568,104.198996,101.179152,100.262969,97.006495,96.027611,92.901158,92.134736,89.229230,...,86.297496,86.364216,84.453333,85.218808,84.423561,86.664663,87.393012,91.350206,94.526329,102.205
2,NaN,NaN,107.608661,104.868428,104.234514,101.267177,100.510592,97.577717,96.958541,94.177536,...,91.361871,91.411396,89.445063,90.062346,88.994402,90.795758,90.948229,94.121954,96.199500,102.205
3,NaN,NaN,NaN,107.860965,107.450967,104.713944,104.138429,101.366170,100.872595,98.200304,...,95.490134,95.526543,93.512637,94.004142,92.704542,94.136113,93.806834,96.332291,97.517148,102.205
4,NaN,NaN,NaN,NaN,110.032566,107.475596,107.043995,104.401717,104.012321,101.432140,...,98.814212,98.840717,96.787106,97.174574,95.683329,96.811009,96.086825,98.084197,98.551194,102.205
5,NaN,NaN,NaN,NaN,NaN,109.668848,109.352437,106.813373,106.508629,104.004803,...,101.465365,101.484465,99.398401,99.701469,98.054765,98.936965,97.893949,99.466184,99.360480,102.205
6,NaN,NaN,NaN,NaN,NaN,NaN,111.169000,108.716765,108.479758,106.038212,...,103.564265,103.577880,101.465706,101.701306,99.930349,100.616810,99.319321,100.552357,99.992531,102.205
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.199178,110.027926,107.636569,...,105.216479,105.226070,103.093144,103.275412,101.406252,101.938170,100.439347,101.403601,100.485356,102.205
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.214448,108.887614,...,106.511335,106.518000,104.368733,104.509208,102.563094,102.973917,101.316862,102.069250,100.869139,102.205
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.814555,...,107.522666,107.527223,105.365181,105.473121,103.467103,103.783588,102.002814,102.588876,101.167713,102.205
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,108.310472,108.313526,106.141552,106.224295,104.171881,104.415202,102.538077,102.993970,101.399820,102.205
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,108.725709,108.924902,106.745240,106.808548,104.720341,104.907116,102.955182,103.309450,101.580151,102.205
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,109.004254,107.213928,107.262291,105.146556,105.289748,103.279868,103.554942,101.720190,102.205
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,106.785354,107.614273,105.477417,105.587086,103.532404,103.745854,101.828903,102.205
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,106.300484,105.734043,105.817970,103.728699,103.894249,101.913273,102.205
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,102.755239,105.997148,103.881201,104.009553,101.978737,102.205
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,99.772672,103.999636,104.099118,102.029524,102.205
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,91.350637,104.168674,102.068918,102.205
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.715302,102.099473,102.205
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.061585,102.205

### 1.3.

The binomial-estimated price of the bond is the initial node of the value tree.

Report this along with the price of the bond you would get from the usual simple formula for such a bond. 
* Consider pricing it with the $T$ interval swap rate (used similar to a ytm) from the file `cap_curves_2025-01-31.xlsx`.
* If you do this, recall that the swap rate given in that file is quarterly-compounded, so you would need to convert it to semiannual compounding before plugging it into the usual closed-form ytm-pricing formula.

### Note:

An easy check on your code is whether it will correctly price a zero-coupon bond at a price that matches the "discounts" in the `cap_curves` data file.

***

# 2. Pricing the Callable - European

### 2.1.

Calculate and display value tree of a European-style call option on the bond analyzed in part `1`.
* `$T_o = 3$`. That is, the time-to-expiration is 3 years.
* `$K=100$`. That is, the strike is 100. This is a clean strike, meaning exercise requires paying the strike plus any accrued interest.

Do so by 
* setting the value at the time of expiration, using the value of the bond for each node at that time.
* discounting this back through time, using the (continuously-compounded) interest rate.
* recall that the tree is constructed such that the probability of moving "up" or "down" is 50%.

Note that...
* the tree of call values will not be the same size as the tree of bond values. The former goes only to $T_o=3$.

In [76]:
import pandas as pd
import numpy as np

# Load bond value tree from previous computation
bond_value_tree = bond_value_tree.copy()

# Callable bond parameters
T_call = 3  # Expiration of the European call option
K = 100  # Call strike price

# Extract tree dimensions up to T_call
valid_columns = [col for col in bond_value_tree.columns if float(col) <= T_call]
num_periods = len(valid_columns)  # Excluding 'state' column
num_states = T_call * 4 + 1  # Only include valid states (0 to 3 at T=3)

# Initialize option value tree with NaNs
option_value_tree = pd.DataFrame(np.nan, index=range(num_states), columns=valid_columns)

# Set final values at expiration (T=3): max(Bond Value - Strike, 0)
final_col = f"{T_call:.2f}"
option_value_tree[final_col] = np.maximum(bond_value_tree[final_col].iloc[:num_states] - K, 0)

# Backward induction for option valuation
def compute_option_values(opt_tree, bond_tree):
    for col_idx in reversed(range(0, num_periods - 1)):  # Iterate backward through time
        current_col = opt_tree.columns[col_idx]
        next_col = opt_tree.columns[col_idx + 1]
        
        for row_idx in range(col_idx + 1):  # Only process valid states
            future_value = 0.5 * (opt_tree.iloc[row_idx, col_idx + 1] +
                                  opt_tree.iloc[row_idx + 1, col_idx + 1])
            discount_factor = np.exp(-ratetree_df[current_col].iloc[row_idx] * 0.25)
            option_value = future_value * discount_factor
            opt_tree.iloc[row_idx, col_idx] = option_value
    
    # Ensure timestep t=0 is properly assigned
    root_col = opt_tree.columns[1]  # First time step after initialization
    root_discount_factor = np.exp(-ratetree_df[root_col].iloc[0] * 0.25)
    opt_tree.iloc[0, 0] = 0.5 * (opt_tree.iloc[0, 1] + opt_tree.iloc[1, 1]) * root_discount_factor

# Compute option values via backward induction
compute_option_values(option_value_tree, bond_value_tree)

# Display option value tree
print("European Call Option Value Tree (T=3, K=100):")
display(option_value_tree)

European Call Option Value Tree (T=3, K=100):

,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,2.50,2.75,3.00
0,3.118032,2.493648,1.881670,1.312683,0.820569,0.435626,0.177591,0.042461,0.000000,0.000000,0.000000,0.000000,0.000000
1,NaN,3.810192,3.159831,2.492736,1.836379,1.226605,0.707802,0.319550,0.086867,0.000000,0.000000,0.000000,0.000000
2,NaN,NaN,4.535341,3.890733,3.201795,2.486561,1.777338,1.117432,0.563553,0.177161,0.000000,0.000000,0.000000
3,NaN,NaN,NaN,5.262652,4.651966,3.977347,3.247710,2.479418,1.701952,0.967019,0.360534,0.000000,0.000000
4,NaN,NaN,NaN,NaN,5.959289,5.401621,4.773626,4.076571,3.309536,2.476510,1.599512,0.732241,0.000000
5,NaN,NaN,NaN,NaN,NaN,6.599266,6.102253,5.540670,4.910669,4.201802,3.404615,2.504861,1.484465
6,NaN,NaN,NaN,NaN,NaN,NaN,7.167510,6.734186,6.241302,5.687132,5.065545,4.366654,3.577880
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.665820,7.293606,6.861557,6.377885,5.835675,5.226070
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.096747,7.785069,7.409315,6.989063,6.518000
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.459176,8.216670,7.891187,7.527223
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.748296,8.594715,8.313526
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.944926,8.924902
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.004254

### 2.2.

Show the value tree of the callable bond by subtracting the call value tree from the (subset $t\le T_o$ of the) bond value tree (calculated in part `1`.) Do this for both
* clean
* dirty

In [72]:
import pandas as pd
import numpy as np

# Load bond value tree from previous computation
bond_value_tree = bond_value_tree.copy()

# Callable bond parameters
T_call = 3  # Expiration of the callable option
K = 100  # Call strike price

# Extract tree dimensions up to T_call
valid_columns = [col for col in bond_value_tree.columns if float(col) <= T_call]
num_periods = len(valid_columns) - 1  # Excluding 'state' column
num_states = T_call * 4 + 1  # Only include valid states (0 to 3 at T=3)

# Initialize callable bond value tree as a copy of bond_value_tree
callable_bond_tree = bond_value_tree[valid_columns].copy()

# Compute call value tree using European option values
call_value_tree = option_value_tree[valid_columns].copy()

# Compute callable bond values as Dirty Price - Call Value
callable_bond_tree -= call_value_tree

# Display callable bond value tree
print("Callable Bond Value Tree (T=3, K=100):")
display(callable_bond_tree)

Callable Bond Value Tree (T=3, K=100):

,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,2.50,2.75,3.00
0,98.751278,98.526958,98.156396,95.362088,94.591846,91.368721,90.383523,87.166598,86.276634,83.234494,82.683237,80.182270,80.271327
1,NaN,101.064377,101.039166,98.686416,98.426590,95.779890,95.319809,92.581608,92.047869,89.229230,88.757972,86.297496,86.364216
2,NaN,NaN,103.073320,100.977696,101.032718,98.780616,98.733254,96.460285,96.394988,94.000375,93.782819,91.361871,91.411396
3,NaN,NaN,NaN,102.598313,102.799001,100.736597,100.890719,98.886752,99.170643,97.233284,97.514257,95.490134,95.526543
4,NaN,NaN,NaN,NaN,104.073277,102.073975,102.270369,100.325146,100.702784,98.955629,99.567358,98.081971,98.840717
5,NaN,NaN,NaN,NaN,NaN,103.069582,103.250184,101.272704,101.597960,99.803002,100.385979,98.960505,100.000000
6,NaN,NaN,NaN,NaN,NaN,NaN,104.001489,101.982579,102.238456,100.351081,100.800904,99.197611,100.000000
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.533358,102.734320,100.775012,101.121707,99.380803,100.000000
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.117701,101.102545,101.369526,99.522272,100.000000
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.355379,101.560837,99.631479,100.000000
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.708451,99.715757,100.000000
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.780783,100.000000
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2.3.

Report the initial node value of the call option and of the callable bond.

In a table, compare these to what you got in HW 1 as the value of the embedded call and the value of the callable bond.
* In `HW 1`, we were valuing from a date nearly two weeks later, `2025-02-13`. This difference in the timing means we wouldn't expect the values to match exactly, even if the methods were entirely consistent.

***

# 3. Pricing the Callable - American

### 3.1.

Re-do part `2.`, but this time, make the option a **American** style. That is, allow it to be exercised at any node.
* Report the tree of callable-bond values.
* How does this compare to the European-style?

#### Note
To do this valuation, go through the procedure in `2.1.`, but at each node, compare the value for the call with the value of the payoff function based on the vanilla bond's value at that node. Take the maximum of the two. If you code this carefully, you can simply add a line of code to what you did in `2.1`.

In [73]:
import pandas as pd
import numpy as np

# Load bond value tree from previous computation
bond_value_tree = bond_value_tree.copy()

# Callable bond parameters
T_call = 3  # Expiration of the American call option
K = 100  # Call strike price

# Extract tree dimensions up to T_call
valid_columns = [col for col in bond_value_tree.columns if float(col) <= T_call]
num_periods = len(valid_columns)  # Excluding 'state' column
num_states = T_call * 4 + 1  # Only include valid states (0 to 3 at T=3)

# Initialize option value tree with NaNs
option_value_tree = pd.DataFrame(np.nan, index=range(num_states), columns=valid_columns)

# Set final values at expiration (T=3): max(Bond Value - Strike, 0)
final_col = f"{T_call:.2f}"
option_value_tree[final_col] = np.maximum(bond_value_tree[final_col].iloc[:num_states] - K, 0)

# Backward induction for American option valuation
def compute_american_option_values(opt_tree, bond_tree):
    for col_idx in reversed(range(1, num_periods - 1)):  # Iterate backward through time
        current_col = opt_tree.columns[col_idx]
        next_col = opt_tree.columns[col_idx + 1]
        
        for row_idx in range(col_idx + 1):  # Only process valid states
            future_value = 0.5 * (opt_tree.iloc[row_idx, col_idx + 1] +
                                  opt_tree.iloc[row_idx + 1, col_idx + 1])
            discount_factor = np.exp(-ratetree_df[current_col].iloc[row_idx] * 0.25)
            option_value = future_value * discount_factor
            
            # Include early exercise feature (American option)
            exercise_value = bond_tree.iloc[row_idx, col_idx] - K
            opt_tree.iloc[row_idx, col_idx] = max(option_value, exercise_value)
    
    # Ensure timestep t=0 is properly assigned
    root_col = opt_tree.columns[1]  # First time step after initialization
    root_discount_factor = np.exp(-ratetree_df[root_col].iloc[0] * 0.25)
    opt_tree.iloc[0, 0] = max(0.5 * (opt_tree.iloc[0, 1] + opt_tree.iloc[1, 1]) * root_discount_factor,
                               bond_tree.iloc[0, 0] - K)

# Compute option values via backward induction
compute_american_option_values(option_value_tree, bond_value_tree)

# Display option value tree
print("American Call Option Value Tree (T=3, K=100):")
display(option_value_tree)

American Call Option Value Tree (T=3, K=100):

,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,2.50,2.75,3.00
0,4.603879,3.341665,2.315189,1.507514,0.884822,0.446912,0.177591,0.042461,0.000000,0.000000,0.000000,0.000000,0.000000
1,NaN,5.966166,4.440776,3.174638,2.166475,1.345477,0.730739,0.319550,0.086867,0.000000,0.000000,0.000000,0.000000
2,NaN,NaN,7.608661,5.796589,4.249921,3.035145,1.995240,1.163998,0.563553,0.177161,0.000000,0.000000,0.000000
3,NaN,NaN,NaN,8.670958,7.450967,5.544759,4.138429,2.873827,1.796362,0.967019,0.360534,0.000000,0.000000
4,NaN,NaN,NaN,NaN,10.032566,8.143463,7.043995,5.217558,4.012321,2.667529,1.599512,0.732241,0.000000
5,NaN,NaN,NaN,NaN,NaN,10.205639,9.352437,7.446728,6.508629,4.790580,3.790593,2.504861,1.484465
6,NaN,NaN,NaN,NaN,NaN,NaN,11.169000,9.208351,8.479758,6.642627,5.866449,4.366654,3.577880
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.580668,10.027926,8.101384,7.499592,5.835675,5.226070
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.214448,9.245014,8.778841,6.989063,6.518000
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.089328,9.777507,7.891187,7.527223
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.456746,8.594715,8.313526
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.944926,8.924902
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.004254

In [106]:
import pandas as pd
import numpy as np

# Load bond value tree from previous computation
bond_value_tree = bond_value_tree.copy()

# Callable bond parameters
T_call = 3  # Expiration of the callable option
K = 100  # Call strike price

# Extract tree dimensions up to T_call
valid_columns = [col for col in bond_value_tree.columns if float(col) <= T_call]
num_periods = len(valid_columns) - 1  # Excluding 'state' column
num_states = T_call * 4 + 1  # Only include valid states (0 to 3 at T=3)

# Initialize callable bond value tree as a copy of bond_value_tree
callable_bond_tree = bond_value_tree[valid_columns].copy()

# Compute American call value tree using American option values
call_value_tree = option_value_tree[valid_columns].copy()

# Compute callable bond values as Dirty Price - Call Value
callable_bond_tree -= call_value_tree

# Display callable bond value tree
print("Callable Bond Value Tree (American Style, T=3, K=100):")
display(callable_bond_tree)

Callable Bond Value Tree (American Style, T=3, K=100):

,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,2.50,2.75,3.00
0,97.265432,97.678942,97.722877,95.167257,94.527593,91.357435,90.383523,87.166598,86.276634,83.234494,82.683237,80.182270,80.271327
1,NaN,98.908403,99.758220,98.004514,98.096494,95.661017,95.296872,92.581608,92.047869,89.229230,88.757972,86.297496,86.364216
2,NaN,NaN,100.000000,99.071840,99.984593,98.232033,98.515351,96.413718,96.394988,94.000375,93.782819,91.361871,91.411396
3,NaN,NaN,NaN,99.190007,100.000000,99.169184,100.000000,98.492342,99.076233,97.233284,97.514257,95.490134,95.526543
4,NaN,NaN,NaN,NaN,100.000000,99.332133,100.000000,99.184159,100.000000,98.764611,99.567358,98.081971,98.840717
5,NaN,NaN,NaN,NaN,NaN,99.463209,100.000000,99.366645,100.000000,99.214224,100.000000,98.960505,100.000000
6,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,99.508414,100.000000,99.395585,100.000000,99.197611,100.000000
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.618510,100.000000,99.535185,100.000000,99.380803,100.000000
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,99.642600,100.000000,99.522272,100.000000
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.725227,100.000000,99.631479,100.000000
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,99.715757,100.000000
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.780783,100.000000
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3.2.

In which nodes will the American-style callable bond be exercised?

In [74]:
import pandas as pd
import numpy as np

# Load callable bond tree
callable_bond_tree = callable_bond_tree.copy()

# Callable bond parameters
K = 100  # Call strike price

# Extract tree dimensions
valid_columns = callable_bond_tree.columns
num_states = len(callable_bond_tree)

# Initialize exercise decision matrix (1 = Exercise, 0 = Hold)
exercise_matrix = pd.DataFrame(0, index=callable_bond_tree.index, columns=valid_columns)

# Determine exercise decisions based on correct rule
for col in valid_columns:
    exercise_matrix[col] = (callable_bond_tree[col] >= 100.00).astype(int)

# Display exercise decision matrix
print("Exercise Decision Matrix for American Callable Bond (1 = Exercise, 0 = Hold):")
display(exercise_matrix)

Exercise Decision Matrix for American Callable Bond (1 = Exercise, 0 = Hold):

,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,2.50,2.75,3.00
0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,1,1,1,0,0,0,0,0,0,0,0
3,0,0,0,1,1,1,1,0,0,0,0,0,0
4,0,0,0,0,1,1,1,1,1,0,0,0,0
5,0,0,0,0,0,1,1,1,1,0,1,0,1
6,0,0,0,0,0,0,1,1,1,1,1,0,1
7,0,0,0,0,0,0,0,1,1,1,1,0,1
8,0,0,0,0,0,0,0,0,1,1,1,0,1
9,0,0,0,0,0,0,0,0,0,1,1,0,1
10,0,0,0,0,0,0,0,0,0,0,1,0,1
11,0,0,0,0,0,0,0,0,0,0,0,0,1
12,0,0,0,0,0,0,0,0,0,0,0,0,1
13,0,0,0,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,0,0,0

***